@import "https://fonts.googleapis.com/css?family=Open+Sans";
.UXC_Plugins {
  border-radius: 4px;
  background: white;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px !important;
  z-index: 1000000000; }
  .UXC_Plugins * {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: 'Open Sans', sans-serif !important;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0; }
    .UXC_Plugins * *::selection {
      background: #5ec700; }
  .UXC_Plugins .uxc_main_block .uxc_show_more {
    position: relative; }
    .UXC_Plugins .uxc_main_block .uxc_show_more .uxc_btn {
      width: 30px;
      height: 20px;
      position: absolute;
      right: -4px;
      bottom: 0;
      border: 4px solid #5ec700;
      background: white;
      border-top-left-radius: 4px;
      box-sizing: border-box;
      border-top-right-radius: 4px; }
      .UXC_Plugins .uxc_main_block .uxc_show_more .uxc_btn:before {
        content: '^';
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        transform: rotateX(0deg) translate(-50%, -50%);
        transition: all 0.1s linear;
        color: #282626; }
      .UXC_Plugins .uxc_main_block .uxc_show_more .uxc_btn:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 4px;
        background: white; }
      .UXC_Plugins .uxc_main_block .uxc_show_more .uxc_btn.open:before {
        transform: rotateX(-180deg) translate(50%, 50%);
        right: 50%;
        left: auto; }
  .UXC_Plugins .uxc_main_block .uxc_main_block_start {
    border-radius: 4px;
    background: #00942c; }
    .UXC_Plugins .uxc_main_block .uxc_main_block_start .btn.uxc_btn_stop,
    .UXC_Plugins .uxc_main_block .uxc_main_block_start .btn.uxc_btn_play {
      background: #c73030;
      display: inline-block;
      color: #fff;
      padding: 6px 12px 6px 30px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: 20px 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      height: auto; }
      .UXC_Plugins .uxc_main_block .uxc_main_block_start .btn.uxc_btn_stop .cur,
      .UXC_Plugins .uxc_main_block .uxc_main_block_start .btn.uxc_btn_play .cur {
        line-height: 19px;
        display: inline-block;
        font-size: 28px;
        position: absolute;
        top: 7px;
        left: 13px; }
  .UXC_Plugins .uxc_main_block img {
    margin: 0 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .UXC_Plugins .uxc_main_block .uxc_item {
    width: 100%;
    line-height: 14px;
    font-size: 14px;
    box-sizing: border-box;
    color: black;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    transition: all 0.2s linear, padding 0s linear;
    position: relative; }
    .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step {
      border: 3px solid #5ec700;
      border-radius: 4px;
      transition: all 0s linear, padding 0s linear;
      opacity: 1;
      max-height: 1000px; }
      .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_panel_header {
        width: 100%; }
        .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_panel_header .uxc_header_more {
          text-align: center;
          color: #808080; }
          .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_panel_header .uxc_header_more .two_line {
            margin-top: 5px;
            display: inline-block;
            border-top: 1px solid #808080;
            border-bottom: 1px solid #808080;
            height: 3px;
            width: 15px; }
        .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_panel_header .uxc_close {
          position: absolute;
          top: 5px;
          right: 7px;
          transform: rotateZ(-45deg);
          font-size: 20px;
          font-weight: 700;
          color: #242424;
          cursor: pointer; }
          .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_panel_header .uxc_close::selection {
            background: #fff; }
      .UXC_Plugins .uxc_main_block .uxc_item.uxc_active_step .uxc_number_element {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 10px 0 0px;
        font-size: 12px;
        color: #808080; }
    .UXC_Plugins .uxc_main_block .uxc_item .uxc_panel_next {
      width: 100%;
      display: inline-block; }
      .UXC_Plugins .uxc_main_block .uxc_item .uxc_panel_next .uxc_item_next {
        float: right;
        padding: 4px 20px;
        border: 1px solid #808080;
        border-radius: 4px;
        font-size: 10px;
        font-style: italic;
        color: #808080;
        margin: 10px 15px;
        cursor: pointer; }
      .UXC_Plugins .uxc_main_block .uxc_item .uxc_panel_next .uxc_header_rec {
        position: absolute;
        font-size: 25px;
        left: 10px;
        color: #f04646;
        bottom: 24px;
        line-height: 2px; }
        .UXC_Plugins .uxc_main_block .uxc_item .uxc_panel_next .uxc_header_rec span {
          position: absolute;
          font-size: 14px;
          line-height: 16px;
          white-space: nowrap;
          left: 15px;
          top: -6px; }
    .UXC_Plugins .uxc_main_block .uxc_item .uxc_item_description {
      padding: 10px;
      color: #808080; }
  .UXC_Plugins .uxc_main_block .uxc_navigation_menu {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    border-top: 1px solid #5ec700; }
    .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item {
      width: 50%;
      display: inline-block;
      height: 40px;
      float: left; }
      .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item:nth-child(1), .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item:first-child {
        border-right: 1px solid #5ec700;
        box-sizing: border-box; }
      .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item button {
        width: 100%;
        height: 100%;
        background: rgba(208, 220, 197, 0.6);
        transition: background 0.2s linear;
        color: #5ec700;
        white-space: nowrap; }
        .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item button:disabled {
          background: lightgray;
          color: white; }
        .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item button:disabled:hover {
          background: lightgray;
          color: white; }
        .UXC_Plugins .uxc_main_block .uxc_navigation_menu .uxc_navigation_item button:hover {
          background: darkgray;
          color: white; }

#uxc_main_modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000; }
  #uxc_main_modal .uxc_content_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: white;
    text-align: center; }
    #uxc_main_modal .uxc_content_modal .uxc_text_modal {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-family: 'Open Sans', sans-serif !important;
      color: white;
      margin-bottom: 40px; }
    #uxc_main_modal .uxc_content_modal .uxc_printscreen {
      width: 500px;
      height: 218px;
      display: inline-block;
      background: url("chrome-extension://imehafdibiebgjhlfjhgfpljhapekiab/images/printscreen.png") no-repeat 50% 50%;
      background-size: cover;
      margin-top: 20px; }
    #uxc_main_modal .uxc_content_modal .uxc_btn_modal {
      display: inline-block;
      background: #f24444;
      color: #fff;
      padding: 8px 25px 10px;
      border-radius: 4px;
      line-height: 18px;
      font-size: 16px;
      text-align: center;
      min-width: 150px;
      font-family: 'Open Sans', sans-serif !important;
      cursor: pointer; }
      #uxc_main_modal .uxc_content_modal .uxc_btn_modal.uxc_green {
        background: #5ec700; }

/*# sourceMappingURL=uxc_injected_style.css.map */
