<script type="text/html" id="UXC_tmpl_main">
    <div class="uxc_main_block">

    </div>
</script>

<!--<script type="text/html" id="UXC_tmpl_start">-->
    <!--<div class="uxc_main_block_start">-->
        <!--<div class="btn uxc_btn_play"><span class="cur">&#149;</span> Начать запись</div>-->
    <!--</div>-->
<!--</script>-->

<script type="text/html" id="UXC_tmpl_step">
    <div class="uxc_item uxc_active_step">
        <div class="uxc_panel_header">
            <div class="uxc_header_more"><span class="two_line"></span></div>
            <div class="uxc_close">+</div>
        </div>
        <div class="uxc_number_element">Задание</div>
        <div class="uxc_item_description"></div>
        <div class="uxc_panel_next">
            <div class="uxc_text_next"></div>
            <div class="uxc_header_rec"><span>Идет запись</span></div>
            <div class="uxc_item_next">Дальше &#8594;</div>
        </div>
    </div>
</script>

<script type="text/html" id="UXC_tmpl_modal">
    <div class="uxc_content_modal">
        <div class="uxc_text_modal"><%= text %></div>
        <div class="clearfix"></div>
        <div class="uxc_btn_modal <%=uxc_class%>" onclick="<%=funcModal%>"><%=textBtn%></div>
    </div>
</script>

<script type="text/html" id="UXC_tmpl_modal_two">
    <div class="uxc_content_modal">
        <div class="uxc_text_modal"><%= text %></div>
        <div class="clearfix"></div>
        <div class="uxc_btn_modal <%=uxc_close_btn%>" onclick="<%=function_one%>"><%=text_one_btn%></div>
        <div class="uxc_btn_modal" onclick="<%=function_two%>"><%=text_two_btn%></div>
    </div>
</script>

<script type="text/html" id="UXC_tmpl_modal_no_btn">
    <div class="uxc_content_modal">
        <div class="uxc_text_modal"><%= text %></div>
    </div>
</script>

<script type="text/html" id="UXC_tmpl_stop">
    <div class="uxc_main_block_start">
        <div class="btn uxc_btn_stop">Завершить запись</div>
    </div>
</script>

<script type="text/html" id="UXC_tmpl_btn">
    <% for ( var i = 0; i < users.length; i++ ) { %>
    <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
    <% } %>
</script>
<script type="text/html" id="UXC_tmpl_panel">
    <% for ( var i = 0; i < users.length; i++ ) { %>
    <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
    <% } %>
</script>
<script type="text/html" id="UXC_tmpl_step_finish">
    <div class="uxc_item uxc_active_step">
        <div class="uxc_item_description">Шаги закончились</div>
    </div>
</script>
